@use '../abstract/color' as clr;
@use '../abstract/function' as *;
@use '../abstract/breakpoint' as *;
@use '../abstract/mixins' as *;

.wrapper__card-sedans {
        @include figureCard(48px, 307px) {
            color: clr(neutral, lighter-grey);
            background-color: clr(primary, bright-orange);
        }

        @include cardBorder(10px, 10px);

        .card-sedans__title {
            margin-top: rem(28px);
        }

        .card-sedans__desc {
            margin-top: rem(22px);

            line-height: 1.7;
        }

        @at-root .card-sedans__cta {
            background-color: clr(neutral, lighter-grey);
            color: clr(primary, bright-orange);

            border: 3px solid clr(neutral, lighter-grey);
            border-radius: 50px;

            margin-top: rem(85px);

            width: em(148px);
            height: em(48px);

            transition: background-color 250ms ease-in-out 0s;

            &:hover {
                cursor: pointer;

                background-color: clr.$invisible;
                color: clr(neutral, lighter-grey);
    
            }
        }
    }

.wrapper__card-suvs {
        @include figureCard(48px, 307px) {
            color: clr(neutral, lighter-grey);
            background-color: clr(primary, dark-cyan);
        }

        .card-suvs__title {
            margin-top: rem(28px);
        }

        .card-suvs__desc {
            margin-top: rem(22px);

            line-height: 1.7;
        }

        @at-root .card-suvs__cta {
            background-color: clr(neutral, lighter-grey);
            color: clr(primary, dark-cyan);

            border: 3px solid clr(neutral, lighter-grey);
            border-radius: 50px;

            margin-top: rem(85px);

            width: em(148px);
            height: em(48px);

            transition: background-color 250ms ease-in-out 0s;

            &:hover {
                cursor: pointer;

                background-color: clr.$invisible;
                color: clr(neutral, lighter-grey);
    
            }
        }
    }

.wrapper__card-luxury {
        @include figureCard(48px, 307px) {
            color: clr(neutral, lighter-grey);
            background-color: clr(primary, darker-cyan);
        }

        @include cardBorder(0, 0, 10px, 10px);
        .card-luxury__title {
            margin-top: rem(28px);
        }

        .card-luxury__desc {
            margin-top: rem(22px);

            line-height: 1.7;
        }

        @at-root .card-luxury__cta {
            background-color: clr(neutral, lighter-grey);
            color: clr(primary, darker-cyan);

            border: 3px solid clr(neutral, lighter-grey);
            border-radius: 50px;

            margin-top: rem(85px);

            width: em(148px);
            height: em(48px);

            transition: background-color 250ms ease-in-out 0s;

            &:hover {
                cursor: pointer;

                background-color: clr.$invisible;
                color: clr(neutral, lighter-grey);
    
            }
        }
    }

// breakpoint

.wrapper {
    &#{&} {
        @include breakpointDown(md) {
            display: flex;
            flex-flow: column nowrap;

            top: 97%;

            .wrapper__card-sedans {
                @include cardBorder(10px, 0, 10px, 0);
            }

            .wrapper__card-luxury {
                @include cardBorder(0, 10px, 0, 10px);
            }

            :is(.wrapper__card-luxury, .wrapper__card-sedans, .wrapper__card-suvs) {
                @include figureCard(48px, 565px);
        
                :is(.card-luxury__cta, .card-sedans__cta, .card-suvs__cta) {
                    margin-top: rem(39px);
                }
            }
        }

        @include breakpointDown(sm) {
            top: 115%;
            
            :is(.wrapper__card-luxury, .wrapper__card-sedans, .wrapper__card-suvs) {
                @include figureCard(48px, 307px);

                :is(.card-luxury__cta, .card-sedans__cta, .card-suvs__cta) {
                    margin-top: rem(30px);
                }
            }
        }
    }
}




