$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$darker-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75); //paragraphs
$lighter-grey: hsl(0, 0%, 95%); // bg, headings, and buttons
$invisible: hsla(0, 0%, 0%, 0);

$colors: (
    primary: (
        bright-orange: $bright-orange,
        dark-cyan: $dark-cyan,
        darker-cyan: $darker-cyan,
    ),

    neutral: (
        transparent-white: $transparent-white, //paragraphs
        lighter-grey: $lighter-grey, // bg, headings, and buttons
    )
);